.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1160px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.styled-link, .login .register-link, .loggedInInfo__logout-link, .new-location__link, .location-filter__trigger {
  cursor: pointer;
  margin-left: 15px;
  padding: 7.5px;
  border: 1px solid white;
  opacity: 0.5;
  transition: all .2s;
  display: inline-block;
  color: white;
  text-decoration: none; }
  .styled-link:hover, .login .register-link:hover, .loggedInInfo__logout-link:hover, .new-location__link:hover, .location-filter__trigger:hover {
    transform: scale(1.05); }

.pop-hover, .login__submit {
  transition: transform .3s; }
  .pop-hover:hover, .login__submit:hover {
    transform: scale(1.1); }

.transparent-input, .new-location__name, .new-location__description, .new-location__externalImage, .new-location__city, .new-location__street, .new-location__number, .location-filter__name, .location-filter__visited-by {
  font-size: 1.2em;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 560px) {
    .transparent-input, .new-location__name, .new-location__description, .new-location__externalImage, .new-location__city, .new-location__street, .new-location__number, .location-filter__name, .location-filter__visited-by {
      padding: 7.5px 15px; } }

.white-button, .login__submit, .new-location__file-upload, .new-location__submit {
  padding: 15px 30px;
  background: white;
  font-size: 1.2em;
  color: grey;
  cursor: pointer;
  border: none; }

.noselect, .styled-link, .login .register-link, .loggedInInfo__logout-link, .new-location__link, .location-filter__trigger {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */ }

* {
  font-family: Arial; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  color: #454545; }

.login-enter {
  opacity: 0.01; }

.login-enter.login-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in; }

.login-leave {
  opacity: 1; }

.login-leave.login-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.popup-enter {
  opacity: 0.01; }
  .popup-enter .popup__wrapper {
    transform: translateY(-70%) translateX(-50%); }

.popup-enter.popup-enter-active {
  opacity: 1;
  transition: opacity 200ms; }
  .popup-enter.popup-enter-active .popup__wrapper {
    transition: transform 400ms;
    transform: translateY(-50%) translateX(-50%); }

.popup-leave {
  opacity: 1; }
  .popup-leave .popup__wrapper {
    transition: transform 300ms;
    transform: translateY(-50%) translateX(-50%); }

.popup-leave.popup-leave-active {
  opacity: 0.01;
  transition: opacity 200ms; }
  .popup-leave.popup-leave-active .popup__wrapper {
    transform: translateY(-70%) translateX(-50%); }

@keyframes scale {
  50% {
    transform: scale(1.07); }
  100% {
    transform: scale(1); } }

body {
  background: url("../images/lunch-bg.jpg") no-repeat center center fixed;
  background-size: cover; }

* {
  box-sizing: border-box; }

.placeholder {
  height: 2000px;
  width: 1px; }

.help {
  background: rgba(255, 255, 255, 0);
  padding: 15px; }

.logo {
  text-align: center;
  margin: 30px; }
  @media (max-width: 560px) {
    .logo {
      margin: 15px; } }
  .logo img {
    width: 70%;
    max-width: 500px; }

.dateNotice {
  text-align: center;
  position: relative; }
  .dateNotice h1 {
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    margin: 7.5px; }
    .dateNotice h1:before, .dateNotice h1:after {
      content: "";
      position: absolute;
      height: 5px;
      width: 38%;
      background: rgba(255, 255, 255, 0.3);
      top: 50%;
      transform: translateY(-50%); }
      @media (max-width: 1200px) {
        .dateNotice h1:before, .dateNotice h1:after {
          width: 35%; } }
      @media (max-width: 992px) {
        .dateNotice h1:before, .dateNotice h1:after {
          width: 31%; } }
      @media (max-width: 768px) {
        .dateNotice h1:before, .dateNotice h1:after {
          width: 27%; } }
      @media (max-width: 560px) {
        .dateNotice h1:before, .dateNotice h1:after {
          width: 15%; } }
    .dateNotice h1:before {
      left: 0; }
    .dateNotice h1:after {
      right: 0; }

.login {
  margin: 30px auto;
  text-align: center; }
  .login__inputs {
    display: inline-block; }
  .login input[type="text"], .login input[type="password"] {
    font-size: 1.2em;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 7.5px; }
    .login input[type="text"]:last-of-type, .login input[type="password"]:last-of-type {
      margin-top: 15px; }
    @media (max-width: 560px) {
      .login input[type="text"], .login input[type="password"] {
        padding: 7.5px 15px; } }
  .login__submit {
    margin-left: 10px; }
  .login .register-text {
    margin-left: 15px;
    color: white;
    opacity: .7; }
  .login .register-link {
    text-decoration: none;
    opacity: .7; }
  .login .register-area {
    margin-top: 15px; }
  .login input:-webkit-autofill {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important; }
  .login input:-webkit-autofill,
  .login input:-webkit-autofill:hover,
  .login input:-webkit-autofill:focus,
  .login input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; }
  @media (max-width: 992px) {
    .login {
      margin: 30px; }
      .login__submit {
        padding: 7.5px;
        font-size: 1.1em; }
      .login__inputs {
        display: block; }
      .login .register-text {
        display: none; }
      .login .register-area {
        display: inline-block; } }
  @media (max-width: 560px) {
    .login {
      margin: 15px; } }

.loggedInInfo {
  text-align: center;
  margin: 30px auto;
  color: white; }
  .loggedInInfo span {
    font-size: 1.3em; }
  .loggedInInfo * {
    vertical-align: middle; }
  .loggedInInfo__name {
    color: #fde897; }
  .loggedInInfo__picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-right: 5px; }
    .loggedInInfo__picture img {
      max-height: 100%; }

.rating.rating-1 .icon-star:nth-of-type(n+5) {
  color: #f4c600; }

.rating.rating-2 .icon-star:nth-of-type(n+4) {
  color: #f4c600; }

.rating.rating-3 .icon-star:nth-of-type(n+3) {
  color: #f4c600; }

.rating.rating-4 .icon-star:nth-of-type(n+2) {
  color: #f4c600; }

.rating.rating-5 .icon-star:nth-of-type(n+1) {
  color: #f4c600; }

.rating .icon-star {
  display: inline;
  position: relative;
  float: right;
  font-size: 2em;
  line-height: 1;
  cursor: pointer; }
  @media (max-width: 992px) {
    .rating .icon-star {
      font-size: 1.6em; } }

.location-filter__rating {
  display: inline-block;
  vertical-align: middle;
  padding: 7px;
  position: relative; }
  .location-filter__rating span {
    font-size: 1.3em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 7.5px; }
  .location-filter__rating .icon-star {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6em; }
    .location-filter__rating .icon-star:hover {
      color: #f4c600 !important; }
      .location-filter__rating .icon-star:hover ~ .icon-star {
        color: #f4c600 !important; }
  .location-filter__rating:hover .icon-star {
    color: rgba(0, 0, 0, 0.5); }

.location__rating {
  position: absolute;
  left: 35%;
  bottom: 30px;
  margin-left: 30px;
  transition: transform .3s;
  z-index: 20; }
  @media (max-width: 992px) {
    .location__rating {
      margin-left: 15px;
      bottom: 15px; } }
  .location__rating .icon-star {
    color: #d3d3d3; }
    .location__rating .icon-star:hover:after {
      opacity: 1; }
    .location__rating .icon-star:hover ~ .icon-star:after {
      opacity: 1; }
    .location__rating .icon-star:after {
      position: absolute;
      font-family: font-icons;
      left: 0;
      top: 0;
      font-size: 0.4em;
      margin-top: 9px;
      margin-left: 9.5px;
      opacity: 0;
      color: white;
      content: "j";
      border-radius: 50%; }
      @media (max-width: 992px) {
        .location__rating .icon-star:after {
          font-size: 0.35em;
          margin-top: 7.5px;
          margin-left: 8.5px; } }
  .location__rating:hover .icon-star {
    color: #d3d3d3; }

@keyframes pop {
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.location-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 45px; }
  .location-list .locationItem:not(:last-of-type) {
    margin-bottom: 30px; }
  .location-list .locationItem {
    background: #fff;
    clear: both;
    height: 20vw;
    min-height: 175px;
    max-height: 275px;
    position: relative; }
    .location-list .locationItem__wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative; }
    .location-list .locationItem.location--focused {
      animation: pop .3s;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4); }
      .location-list .locationItem.location--focused:before, .location-list .locationItem.location--focused:after {
        position: absolute;
        content: "";
        background: #c88152;
        top: 0;
        bottom: 0;
        width: 10px; }
      .location-list .locationItem.location--focused:before {
        left: -10px; }
      .location-list .locationItem.location--focused:after {
        right: -10px; }
    .location-list .locationItem:first-of-type .location__user-count {
      color: #c88152; }
    .location-list .locationItem:nth-of-type(2) .location__user-count {
      color: #f3ba00; }
  .location-list .showingUsers .user-list__content {
    transform: translateX(0%); }
  .location-list .showingUsers .location__body {
    transform: translateY(-100%); }
  .location-list .showingUsers .location__rating, .location-list .showingUsers .location__cta {
    transform: translateY(250%); }

.location {
  height: 100%; }
  .location__image {
    position: absolute;
    left: 0;
    width: 35%;
    overflow: hidden;
    height: 100%;
    cursor: pointer; }
    .location__image img {
      height: 100%; }
    .location__image:after {
      content: "+";
      position: absolute;
      opacity: 0;
      transition: opacity .3s, transform .3s;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      line-height: 60px;
      color: white;
      text-align: center;
      font-size: 3em;
      left: 50%;
      top: 50%;
      z-index: 40;
      transform: translateY(-75%) translateX(-50%); }
    .location__image:hover:after {
      transform: translateY(-50%) translateX(-50%);
      opacity: 1; }
  .location__body {
    padding-left: 35%;
    padding-right: 15%;
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
    transition: transform .3s; }
  .location__body-wrapper {
    padding: 30px;
    width: 100%; }
    @media (max-width: 992px) {
      .location__body-wrapper {
        padding: 15px; } }
  .location__name {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 1.2;
    margin-bottom: 15px;
    cursor: pointer; }
    @media (max-width: 992px) {
      .location__name {
        font-size: 1.3em; } }
    .location__name:after {
      content: "+";
      font-size: 1.2em;
      line-height: .5;
      opacity: 0;
      margin-left: 45px;
      transition: margin .3s, opacity .3s; }
    .location__name:hover:after {
      opacity: .4;
      margin-left: 15px; }
  .location__description {
    margin: 0;
    max-width: 100%;
    font-size: 18px;
    line-height: 1.3;
    display: block;
    display: -webkit-box;
    color: #c88152;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 93.6px; }
    @media (max-width: 1200px) {
      .location__description {
        -webkit-line-clamp: 2;
        height: 46.8px; } }
  .location__user-count {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5em;
    font-family: 'PT Serif', serif;
    color: #e4ca00;
    background: white;
    width: 115px;
    height: 115px;
    line-height: 115px;
    display: inline-block;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .15s; }
    .location__user-count:hover {
      transform: translateY(-50%) translateX(-50%) scale(1.1); }
    @media (min-width: 768px) and (max-width: 992px) {
      .location__user-count {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 3.5em; } }
    @media (min-width: 560px) and (max-width: 768px) {
      .location__user-count {
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 2.75em; } }
    @media (max-width: 560px) {
      .location__user-count {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 3em; } }
  .location__counter-box {
    position: relative;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: lightgrey;
    background-image: url("../images/texture.png"); }
  .location__cta {
    position: absolute;
    bottom: 30px;
    border: 2px solid #c88152;
    padding: 7.5px 15px;
    color: #c88152;
    text-decoration: none;
    left: 35%;
    margin-left: 220px;
    cursor: pointer;
    transition: background .15s, transform .15s;
    font-size: 1.2em;
    transition: transform .3s;
    z-index: 20; }
    .location__cta:hover {
      transform: scale(1.1); }
    @media (max-width: 992px) {
      .location__cta {
        margin-left: 160px;
        bottom: 15px; } }
  .location__additional-data {
    position: relative;
    padding-left: 15px;
    transition: none;
    opacity: 0;
    transform: scale(0.01); }
    .location__additional-data:before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 4px;
      background: #d3d3d3; }
    .location__additional-data span {
      margin-bottom: 7.5px; }
  .location__address, .location__distance {
    display: block;
    font-size: 18px;
    color: #4d4d4d; }

.locationItem.showingUsers .user-list__content,
.locationItem:not(.showingUsers) .location__body,
.locationItem:not(.showingUsers) .location__cta,
.locationItem:not(.showingUsers) .location__rating {
  transition-delay: 0.1s; }

.locationItem:not(.showingUsers) .user-list__content,
.locationItem.showingUsers .location__body,
.locationItem.showingUsers .location__cta,
.locationItem.showingUsers .location__rating {
  transition-delay: 0s; }

.locationItem:not(.showingUsers) .user-list {
  visibility: hidden;
  transition-delay: .5s; }

@media (max-width: 560px) {
  .locationItem:before, .locationItem:after {
    display: none; }
  .location__image {
    width: 75%;
    background: grey;
    z-index: 10;
    opacity: 0;
    visibility: hidden; }
    .location__image img {
      max-width: 100%;
      height: initial; }
  .location__body {
    padding-left: 0;
    padding-right: 25%; }
  .location__rating {
    left: 15px;
    margin: 0; }
  .location__cta {
    left: 160px;
    margin: 0; }
  .location__counter-box {
    width: 25%; } }

.user-list {
  margin: 0;
  padding: 30px;
  list-style-type: none;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  transition: visibility .0s;
  position: absolute;
  left: 35%;
  top: 0;
  width: 50%;
  -webkit-transform: translate3d(0, 0, 0); }
  .user-list__item {
    width: 48%;
    background: #f7f7f7;
    display: inline-block;
    padding: 15px;
    margin-bottom: 3%; }
    .user-list__item:nth-of-type(odd) {
      margin-right: 3%; }
  .user-list__content {
    transition: transform .3s;
    transform: translateX(120%);
    overflow: auto;
    height: 100%; }
  .user-list__username {
    color: #c88152; }
  .user-list__firstname {
    margin-right: 5px; }
  .user-list__lastnameShort {
    display: none; }
  .user-list__group-title {
    display: none; }
  .user-list__picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 15px;
    text-align: center; }
    .user-list__picture img {
      max-height: 100%; }
  .user-list p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .user-list.highlighted {
    animation: scale .3s; }

@media (max-width: 992px) {
  .user-list {
    padding: 15px; }
    .user-list__lastname {
      display: none; }
    .user-list__lastnameShort {
      display: inline; } }

@media (max-width: 768px) {
  .user-list__picture {
    display: none; } }

@media (max-width: 768px) {
  .user-list {
    left: 0;
    width: 75%; } }

.locationItem.expanded {
  max-height: initial;
  height: initial; }
  .locationItem.expanded .location__image {
    background: #d3d3d3; }
    .locationItem.expanded .location__image:after {
      content: "-"; }
    .locationItem.expanded .location__image img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .locationItem.expanded .location__description {
    margin-bottom: 15px;
    height: initial;
    text-overflow: initial;
    -webkit-line-clamp: initial; }
  .locationItem.expanded .location__additional-data {
    transition: transform .2s, opacity .2s;
    transform: scale(1);
    opacity: 1; }
  .locationItem.expanded .location__name:after {
    content: "-"; }
  .locationItem.expanded .location__body-wrapper {
    margin-bottom: 50px; }
  .locationItem.expanded .user-list {
    visibility: visible;
    padding: 0;
    position: static;
    width: 100%;
    margin-top: 15px; }
    .locationItem.expanded .user-list__content {
      transform: translateX(0);
      overflow: visible; }
    .locationItem.expanded .user-list__time {
      display: none; }
    .locationItem.expanded .user-list__picture {
      width: 35px;
      height: 35px; }
    .locationItem.expanded .user-list__username {
      line-height: 34px; }
    .locationItem.expanded .user-list__item {
      transition: transform .2s;
      background: none;
      padding: 7.5px;
      border: 1px solid #ededed; }
      .locationItem.expanded .user-list__item:nth-of-type(odd).line-break {
        display: block; }
      .locationItem.expanded .user-list__item.new-line {
        margin-top: 55px;
        position: relative; }
    .locationItem.expanded .user-list__group-title {
      display: block;
      font-size: 1.3em;
      color: #999999;
      bottom: 100%;
      width: 206%;
      left: 0;
      margin-bottom: 15px;
      padding: 7.5px 0;
      background: #f7f7f7;
      position: absolute;
      text-align: center; }

.new-location {
  text-align: center;
  margin-top: 60px; }
  .new-location__link {
    display: inline-block;
    font-size: 1.6em;
    opacity: .8; }
  .new-location__form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    transition: transform 0.25s cubic-bezier(0.29, 0.47, 0.5, 1.5), opacity 0.25s;
    transform: scale(0.01);
    opacity: 0; }
    .new-location__form--visible {
      transform: scale(1);
      opacity: 1; }
  .new-location__file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .new-location__file-input:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px; }
  .new-location__name, .new-location__description, .new-location__externalImage, .new-location__city, .new-location__street, .new-location__number {
    display: inline-block; }
  .new-location__description {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 15px; }
  .new-location__name {
    width: 67%;
    margin-right: 3%; }
    @media (max-width: 560px) {
      .new-location__name {
        width: 57%; } }
  .new-location__externalImage {
    width: 100%;
    margin-top: 15px; }
  .new-location__address {
    margin-top: 15px; }
  .new-location__city {
    max-width: 35%;
    margin-right: 15px; }
  .new-location__street {
    max-width: 50%;
    margin-right: 15px; }
  .new-location__number {
    max-width: 15%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
  .new-location__file-upload {
    width: 30%;
    display: inline-block;
    /* disable it cause its not working with drupal til now */
    opacity: .4;
    cursor: default; }
    @media (max-width: 768px) {
      .new-location__file-upload {
        padding: 15px 15px; } }
    @media (max-width: 560px) {
      .new-location__file-upload {
        padding: 7.5px 7.5px;
        width: 40%; } }
  .new-location__submit {
    margin-top: 15px; }

@media (max-width: 768px) {
  .new-location__city {
    width: 100%;
    max-width: initial; }
  .new-location__street {
    margin-top: 15px;
    margin-right: 3%;
    width: 80%;
    max-width: initial; }
  .new-location__number {
    width: 17%;
    max-width: initial; } }

.location-filter {
  margin-top: 30px;
  text-align: center; }
  .location-filter__name, .location-filter__visited-by {
    font-size: 16px;
    padding: 15px; }
  .location-filter__elements {
    display: inline-block;
    margin-top: 15px;
    transition: transform 0.25s cubic-bezier(0.29, 0.47, 0.5, 1.5), opacity 0.25s;
    transform: scale(0.01);
    opacity: 0; }
    .location-filter__elements > *:not(:last-child) {
      margin-right: 15px; }
    .location-filter__elements--visible {
      transform: scale(1);
      opacity: 1; }
  .location-filter__trigger {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 1.6em;
    opacity: .8; }

.tags-filter {
  position: relative;
  text-align: initial;
  display: inline-block;
  min-width: 150px;
  padding: 15px;
  cursor: pointer;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5); }
  .tags-filter:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5) transparent; }

.tags-dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  /* Styles */
  background: white;
  list-style: none;
  transition: all 0.3s ease-out;
  /* Hiding */
  opacity: 0;
  pointer-events: none;
  z-index: 100; }
  .tags-dropdown li {
    position: relative;
    /* Enable absolute positioning for checkboxes */ }
  .tags-dropdown li label {
    display: block;
    padding: 15px;
    transition: all 0.3s ease-out;
    color: #333333; }
  .tags-dropdown li input {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -8px; }
  .tags-dropdown li:hover label {
    background: #f0f0f0; }
  .tags-dropdown li input:checked ~ label {
    color: #c88152; }

.tags-filter.active:after {
  border-width: 0 6px 6px 6px; }

.tags-filter.active .tags-dropdown {
  opacity: 1;
  pointer-events: auto; }

.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100; }
  .popup a {
    text-decoration: none;
    color: #333333; }
  .popup__input {
    font-size: 1.2em;
    color: #333333; }
  .popup__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-width: 300px;
    border-top: 8px solid #c88152; }
  .popup__body {
    padding: 30px;
    text-align: center; }
  .popup__button {
    float: left;
    width: 50%;
    display: block;
    padding: 15px;
    text-align: center;
    transition: background .15s;
    cursor: pointer;
    color: #333333;
    background: #ededed;
    border-top: 1px solid #D9D9D9;
    /*
		&:nth-of-type(1){
			background:$light-grey;
			&:hover{
				background:darken($light-grey,5%);
			}
		}

		&:nth-of-type(2){
			background:$primary-color;
			&:hover{
				background:darken($primary-color,5%);
			}
		}*/ }
    .popup__button--single {
      width: 100%; }
    .popup__button:nth-of-type(2) {
      border-left: 1px solid #D9D9D9; }
    .popup__button:nth-of-type(1) {
      border-right: 1px solid #D9D9D9; }
    .popup__button:hover {
      background: #D9D9D9; }
