.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1160px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

* {
  font-family: Arial; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  color: #454545; }

body {
  background: url("../images/lunch-bg.jpg") no-repeat center center fixed;
  background-size: cover; }

* {
  box-sizing: border-box; }

.placeholder {
  height: 2000px;
  width: 1px; }

.login-enter {
  opacity: 0.01; }

.login-enter.login-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in; }

.login-leave {
  opacity: 1; }

.login-leave.login-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.popup-enter {
  opacity: 0.01; }
  .popup-enter .popup__wrapper {
    transform: translateY(-70%) translateX(-50%); }

.popup-enter.popup-enter-active {
  opacity: 1;
  transition: opacity 200ms; }
  .popup-enter.popup-enter-active .popup__wrapper {
    transition: transform 400ms;
    transform: translateY(-50%) translateX(-50%); }

.popup-leave {
  opacity: 1; }
  .popup-leave .popup__wrapper {
    transition: transform 300ms;
    transform: translateY(-50%) translateX(-50%); }

.popup-leave.popup-leave-active {
  opacity: 0.01;
  transition: opacity 200ms; }
  .popup-leave.popup-leave-active .popup__wrapper {
    transform: translateY(-70%) translateX(-50%); }

.login {
  margin: 75px auto;
  text-align: center; }
  .login .form-group {
    display: inline-block; }
  .login input[type="text"], .login input[type="password"] {
    font-size: 1.2em;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 7.5px; }
    .login input[type="text"]:first-of-type, .login input[type="password"]:first-of-type {
      margin-bottom: 15px; }
  .login button {
    font-size: 1.2em;
    padding: 15px 30px;
    background: white;
    border: none;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    color: grey; }

@keyframes pop {
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.location-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 45px; }
  .location-list li:not(:last-of-type) {
    margin-bottom: 30px; }
  .location-list li {
    background: #fff;
    clear: both;
    height: 20vw;
    min-height: 175px;
    max-height: 275px;
    position: relative; }
    .location-list li.location--focused {
      animation: pop .3s;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4); }
      .location-list li.location--focused:before, .location-list li.location--focused:after {
        position: absolute;
        content: "";
        background: #d88e1c;
        top: 0;
        bottom: 0;
        width: 10px; }
      .location-list li.location--focused:before {
        left: -10px; }
      .location-list li.location--focused:after {
        right: -10px; }
    .location-list li:first-of-type .location__user-count {
      color: #d88e1c; }
    .location-list li:nth-of-type(2) .location__user-count {
      color: #f3ba00; }

.location {
  height: 100%; }
  .location__image {
    position: absolute;
    left: 0;
    width: 35%;
    overflow: hidden;
    height: 100%; }
    .location__image img {
      height: 100%; }
  .location__body {
    padding-left: 35%;
    padding-right: 16%;
    display: inline-block;
    word-wrap: break-word;
    width: 100%; }
  .location__body-wrapper {
    padding: 30px;
    width: 100%; }
    @media (max-width: 992px) {
      .location__body-wrapper {
        padding: 15px; } }
  .location__name {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 1.2;
    margin-bottom: 15px; }
    @media (max-width: 992px) {
      .location__name {
        font-size: 1.3em; } }
  .location__description {
    margin: 0;
    max-width: 100%;
    font-size: 18px;
    line-height: 1.3;
    display: block;
    display: -webkit-box;
    color: #d88e1c; }
    @media (max-width: 1200px) {
      .location__description {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 46.8px; } }
  .location__user-count {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5em;
    font-family: 'PT Serif', serif;
    color: #e4ca00;
    background: white;
    width: 115px;
    height: 115px;
    line-height: 115px;
    display: inline-block;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .15s; }
    .location__user-count:hover {
      transform: translateY(-50%) translateX(-50%) scale(1.1); }
    @media (min-width: 768px) and (max-width: 992px) {
      .location__user-count {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 3.5em; } }
    @media (min-width: 560px) and (max-width: 768px) {
      .location__user-count {
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 2.75em; } }
    @media (max-width: 560px) {
      .location__user-count {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 3em; } }
  .location__counter-box {
    position: relative;
    position: absolute;
    right: 0;
    top: 0;
    width: 16%;
    height: 100%;
    background: lightgrey;
    background-image: url("../images/texture.png"); }
  .location__rating {
    position: absolute;
    left: 35%;
    bottom: 30px;
    margin-left: 30px; }
    @media (max-width: 992px) {
      .location__rating {
        margin-left: 15px;
        bottom: 15px; } }
    .location__rating .icon-star {
      display: inline;
      font-size: 2em;
      color: #d3d3d3;
      line-height: 1;
      cursor: pointer; }
      @media (max-width: 992px) {
        .location__rating .icon-star {
          font-size: 1.6em; } }
      .location__rating .icon-star.icon-star-active {
        color: #f4c600 !important; }
      .location__rating .icon-star.icon-star-inactive {
        color: #d3d3d3 !important; }
    .location__rating.rating-1 .icon-star {
      color: #f4c600; }
    .location__rating.rating-2 .icon-star:nth-of-type(-n+2) {
      color: #f4c600; }
    .location__rating.rating-3 .icon-star:nth-of-type(-n+3) {
      color: #f4c600; }
    .location__rating.rating-4 .icon-star:nth-of-type(-n+4) {
      color: #f4c600; }
    .location__rating.rating-5 .icon-star:nth-of-type(-n+5) {
      color: #f4c600; }
  .location__cta {
    position: absolute;
    bottom: 30px;
    margin-top: 15px;
    border: 2px solid #d88e1c;
    padding: 7.5px 15px;
    color: #d88e1c;
    text-decoration: none;
    left: 35%;
    margin-left: 220px;
    cursor: pointer;
    transition: background .15s, transform .15s;
    font-size: 1.2em; }
    .location__cta:hover {
      transform: scale(1.1); }
    @media (max-width: 992px) {
      .location__cta {
        margin-left: 160px;
        bottom: 15px; } }

@media (max-width: 560px) {
  .location {
    margin-top: 200px; }
    .location__image {
      width: 100%;
      background: grey;
      bottom: 100%; }
      .location__image img {
        max-width: 100%;
        height: initial; }
    .location__body {
      padding-left: 0;
      padding-right: 25%; }
    .location__rating {
      left: 15px;
      margin: 0; }
    .location__cta {
      left: 160px;
      margin: 0; }
    .location__counter-box {
      width: 25%; } }

.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7); }
  .popup a {
    text-decoration: none;
    color: #333333; }
  .popup__input {
    font-size: 1.2em;
    color: #333333; }
  .popup__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-width: 300px;
    border-top: 8px solid #d88e1c; }
  .popup__body {
    padding: 30px;
    text-align: center; }
  .popup__button {
    float: left;
    width: 50%;
    display: block;
    padding: 15px;
    text-align: center;
    transition: background .15s;
    cursor: pointer;
    color: #333333;
    background: #ededed;
    border-top: 1px solid #D9D9D9;
    /*
		&:nth-of-type(1){
			background:$light-grey;
			&:hover{
				background:darken($light-grey,5%);
			}
		}

		&:nth-of-type(2){
			background:$primary-color;
			&:hover{
				background:darken($primary-color,5%);
			}
		}*/ }
    .popup__button:nth-of-type(2) {
      border-left: 1px solid #D9D9D9; }
    .popup__button:nth-of-type(1) {
      border-right: 1px solid #D9D9D9; }
    .popup__button:hover {
      background: #D9D9D9; }
