.location-filter{
    margin-top:$gap*2;
    text-align: center;
    position:relative;
    z-index:10;
    &__name, &__visited-by{
        @extend .transparent-input;
        font-size:$font-size;
        padding:$gap;
    }

    &__elements{

        > *:not(:last-child){
            margin-right:$gap;
        }

        @media(max-width:$screen-md){
           > *{
                width:45%;
                margin-right:$gap;
           }
           > *:nth-child(odd):not(:first-child){
                margin-top:$gap;
           }
        }

        display:inline-block;
        margin-top:$gap;
        transition:transform .3s cubic-bezier(.3,.5,.5,1.35), opacity .25s, max-height .25s;
        transform:scale(0.01);
        opacity:0;
        max-height:0;
        overflow:hidden;

        @media(max-width:$screen-md){
            transition:transform .3s, opacity .25s, max-height .25s;
        }

        &--visible{
            transform:scale(1);
            opacity:1;
            max-height:49px;

            @media(max-width:$screen-md){
                max-height:115px;
            }
        }
    }
    &__trigger{
        display:block;
        width:200px;
        margin:0 auto;
        @extend .styled-link;
        font-size:1.6em;
        opacity:.8;
    }
}

.tags-filter{
    position: relative;
    text-align:initial;
    //width: 270px;
    display:inline-block;
    min-width:150px;
    padding: $gap;

    cursor: pointer;
    outline: none;
    background:rgba(#000,.5);
    color:rgba(#fff,.5);
    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: rgba(#fff,.5) transparent;
    }
}

.tags-dropdown {
    /* Size & position */
    position: absolute;
    top:100%;
    left:0;
    margin:0;
    padding:0;
    width:100%;
    /* Styles */
    background: white;
    list-style: none;
    box-shadow: 0px 2px 8px 0px rgba(#000,0.25);
    z-index:100;
    transition: all 0.3s ease-out;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
   


    li {
        position: relative; /* Enable absolute positioning for checkboxes */
        &:not(:last-of-type){
            border-bottom:1px solid darken(#fff,7%);
        }
    }

    li label {
        display: block;
        padding:$gap;
        transition: all 0.3s ease-out;
        color:$text-color;
    }

    li input /* Checkboxes */ {
        position: absolute;
        display: block;
        right: 10px;
        top: 50%;
        margin-top: -8px;
    }
    
    li:hover label {
        background: #f0f0f0;
    }

    li input:checked ~ label {
        color: $primary-color;
    }
}


.tags-filter.active{
    &:after{
        border-width: 0 6px 6px 6px;
    }
    .tags-dropdown{
        opacity: 1;
        pointer-events: auto;
    }
}







