// Global Styles:

body{
	background:url("../images/lunch-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

*{
	box-sizing:border-box;
}

.placeholder{
	height:2000px;
	width:1px;
}

.help{
	background:rgba(white,.4);
	padding:$gap
}


