// Global Styles:

body{
	background:url("../images/lunch-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

*{
	box-sizing:border-box;
}

.placeholder{
	height:2000px;
	width:1px;
}

.help{
	background:rgba(white,0);
	padding:$gap
}

.logo{
	text-align:center;
	margin:$gap*4;

	@media (max-width:$screen-md){
		margin:$gap*2;
	}
	@media (max-width:$screen-xs){
		margin:$gap;
	}

	img{
		width:70%;
		max-width:500px;
	}
}

