$location-bg: #fff;
$description-font-size:18px;
$description-line-height:1.3;

@keyframes pop{
  50%{transform:scale(1.05);}
  100% {transform: scale(1);}
}

.location-list{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-top:$gap*3;

	.locationItem:not(:last-of-type){
		margin-bottom:$gap*2;
	}
	.locationItem{
		background: $location-bg;
		clear:both;
		height:20vw % 275px;
		min-height:175px;
		max-height:275px;
		position:relative;

		&__wrapper{
			height:100%;
			width:100%;
			overflow:hidden;
			position:relative;
		}
		
		&.location--focused{
			animation: pop .3s;
			//animation-delay:.2s;
			box-shadow: 0px 0px 50px 0px rgba(black,.4);
			&:before,&:after{
				position:absolute;
				content:"";
				background:$primary-color;
				top:0;bottom:0;
				width:10px;
			}
			&:before{
				left:-10px;
			}
			&:after{
				right:-10px;
			}
		}

		&:first-of-type .location__user-count{
			color:$count-color-first;
		}

		&:nth-of-type(2) .location__user-count{
			color:$count-color-second;
		}
	}

	.showingUsers{
		.user-list__content{
			transform:translateX(0%);
		}
		.location__body{
			transform:translateY(-100%);
		}
		.location__rating,.location__cta{
			transform:translateY(250%);
		}
	}
}

.location{
	//padding-right:15%;
	height:100%;

	&__image{
		position:absolute;
		left:0;
		width:35%;
		overflow:hidden;
		height:100%;
		cursor:pointer;

		img{
	    	height:100%;
		}

		&:after{
			content:"+";
			position:absolute;
			opacity:0;
			transition: opacity .3s, transform .3s;

			background:rgba(#000,.7);
			border-radius:50%;
			width:60px;
			height:60px;
			line-height:60px;
			color:white;
			text-align:center;
			font-size:3em;
			left:50%;
			top:50%;
			z-index: 40;
			transform:translateY(-75%) translateX(-50%);
		}
		&:hover{
			&:after{
				transform:translateY(-50%) translateX(-50%);
				opacity:1;
			}
		}
	}

	&__body{
		padding-left:35%; // space for image
		padding-right:15%; // space for counter
		//float:left;
		display:inline-block;
		word-wrap: break-word;
		width:100%;
		transition:transform .3s;

	}

	&__body-wrapper{
		padding: $gap*2;
		width:100%;

		@media(max-width:$screen-md){
			padding: $gap;
		}
	}

	&__name{
		margin:0;
		text-transform:uppercase;
		font-weight:600;
		font-size:1.7em;
		line-height:1.2;
		margin-bottom:$gap;
		cursor:pointer;

		@media(max-width:$screen-md){
			font-size:1.3em;
		}
		&:after{
			content:"+";
			font-size:1.2em;
			line-height:.5;
			opacity:0;
			margin-left:$gap*3;
			transition: margin .3s, opacity .3s;
		}
		&:hover:after{
			opacity:.4;
			margin-left:$gap;
		}
	}

	&__description{
		margin:0;
		max-width:100%;
		font-size:$description-font-size;
		line-height:$description-line-height;
		display:block;
		display: -webkit-box;
		color:$primary-color;

		// Truncate description to 4 lines
		overflow: hidden;
  		text-overflow: ellipsis;
  		-webkit-box-orient: vertical;
  		-webkit-line-clamp: 4;
  		height:4 * $description-line-height * $description-font-size;
	

		@media(max-width:$screen-lg){
			// Truncate description to 2 lines
  			-webkit-line-clamp: 2;
  			height:2 * $description-line-height * $description-font-size;
		}
	}

	&__user-count{
		position:absolute;
		left:50%;
		top:50%;
		font-size:5em;
		font-family: 'PT Serif', serif;
		color:$count-color-third;
		background:white;
		width:115px;
		height:115px;
		line-height:115px;
		display:inline-block;
		text-align:center;
		transform:translateY(-50%) translateX(-50%);
		border-radius:50%;
		box-shadow: 0px 3px 4px 0px rgba(#000,0.1);
		cursor:pointer;
		transition:transform .15s;

		&:hover{
			 transform: translateY(-50%) translateX(-50%) scale(1.1);
		}
		
		@media(min-width:$screen-sm)and(max-width:$screen-md){
			width:80px;
			height:80px;
			line-height:80px;
			font-size:3.5em;
		}

		@media(min-width:$screen-xs)and(max-width:$screen-sm){
			width:65px;
			height:65px;
			line-height:65px;
			font-size:2.75em;
		}

		@media(max-width:$screen-xs){
			width:70px;
			height:70px;
			line-height:70px;
			font-size:3em;
		}
	}

	&__counter-box{
		position:relative;
		position:absolute;
		right:0;
		top:0;
		width:15%;
		height:100%;
		background:lightgrey;
		background-image:url("../images/texture.png")
	}

	&__cta{
		position:absolute;
		bottom:$gap*2;
		//margin-top:$gap;
		border: 2px solid $primary-color;
		padding:$gap/2 $gap;
		color:$primary-color;
		text-decoration: none;
		left:35%;
		margin-left:$gap*2 + $rating-width + $gap*2;
		cursor:pointer;
		transition:background .15s, transform .15s;
		font-size:1.2em;
		transition: transform .3s;
		z-index:20;
	
		&:hover{
			 transform: scale(1.1);
		}

		@media(max-width:$screen-md){
			margin-left:$gap + $rating-width-small +$gap;
			bottom:$gap;
		}
	}

	&__additional-data{
		//display:none;
		position:relative;
		padding-left:$gap;
		transition:none;
		opacity:0;
		transform: scale(0.01);

		&:before{
			content:"";
			position:absolute;
			left:0;
			height:100%;
			width:4px;
			background:$light-grey;

		}

		span{
			margin-bottom:$gap/2;
		}
	}

	&__address, &__distance{
		display:block;
		font-size:$description-font-size;
		color:lighten($text-color,10%);
	}
}


.locationItem.showingUsers .user-list__content,
.locationItem:not(.showingUsers) .location__body,
.locationItem:not(.showingUsers) .location__cta,
.locationItem:not(.showingUsers) .location__rating{
	transition-delay:0.1s; // Add Delay Here
}
.locationItem:not(.showingUsers) .user-list__content,
.locationItem.showingUsers .location__body,
.locationItem.showingUsers .location__cta,
.locationItem.showingUsers .location__rating{
	transition-delay:0s;
}

.locationItem:not(.showingUsers) .user-list{
	visibility:hidden;
	transition-delay:.5s;
	//opacity:0;
}



//----------------------------------------------------------------
// Design change for xs screen (image on top)
@media(max-width:$screen-xs){
	.locationItem{
		&:before,&:after{
			display:none;
		}
	}
	.location{
		//margin-top:200px;
		&__image{
			width:75%;
			background:grey;
			z-index:10;
			opacity:0;
			visibility:hidden;
			//bottom:100%;

			img{
				max-width:100%;
				height:initial;
			}
		}
		&__body{
			padding-left:0;
			padding-right:25%;
		}

		&__rating{
			left:$gap;
			margin:0;
		}

		&__cta{
			left:$gap + $rating-width-small + $gap;
			margin:0;
		}

		&__counter-box{
			width:25%;
		}
	}	
}























