$star-highlight-color: #f4c600;
$star-color-1: $light-grey;
$star-color-2: rgba(#000,.5);
$rating-width: 160px;
$rating-width-small: 130px;

.rating{

	&.rating-1 .icon-star:nth-of-type(n+5){
		color:$star-highlight-color;
	}
	&.rating-2 .icon-star:nth-of-type(n+4){
		color:$star-highlight-color;
	}
	&.rating-3 .icon-star:nth-of-type(n+3){
		color:$star-highlight-color;
	}
	&.rating-4 .icon-star:nth-of-type(n+2){
		color:$star-highlight-color;
	}
	&.rating-5 .icon-star:nth-of-type(n+1){
		color:$star-highlight-color;
	}

	.icon-star{
		display:inline;
		position: relative;
		float:right;
		font-size:2em;
		
		line-height:1;
		cursor:pointer;
		@media(max-width:$screen-md){
			font-size:1.6em;
		}
	}
}

// Specific Styling for Filter
.location-filter__rating{

	display:inline-block;
	vertical-align:middle;
	padding:7px;
	position:relative;

	span{
		font-size:1.3em;
		font-weight:bold;
		color:$star-color-2;
		margin-right:$gap/2;
	}

	.icon-star{
		color:$star-color-2;
		font-size:1.6em;
		&:hover{
			color:$star-highlight-color !important;
			& ~ .icon-star{
				color:$star-highlight-color !important;
			}
		}
	}
	&:hover .icon-star{
		color: $star-color-2;
	}
}

// Specific Styling for LocationList
.location__rating{
	position:absolute;
	left:35%;
	bottom:$gap*2;
	margin-left:$gap*2;
	transition: transform .3s;
	z-index:20;

	@media(max-width:$screen-md){
		margin-left:$gap;
		bottom:$gap;
	}

	.icon-star{
		color:$star-color-1;

		&:hover{
			&:after{opacity:1};
			& ~ .icon-star{
				&:after{opacity:1};
			}
		}

		&:after{
			position:absolute;
			font-family: font-icons;
			left:0;
			top:0;
			font-size:0.4em;
			margin-top:9px;
			margin-left:9.5px;
			opacity:0;
			color:white;
			content:"j";
			border-radius:50%;
			@media(max-width:$screen-md){
				font-size:0.35em;
				margin-top:7.5px;
				margin-left:8.5px;
			}
		}
	}

	&:hover .icon-star{
		color: $star-color-1;
	}
	
}














