
// COLORS

$heading-color:#454545;


//$primary-color:#d88e1c;
$primary-color:#c88152;
$secondary-color: #f3ba00;

$light-grey: #d3d3d3;


$count-color-first: $primary-color;
$count-color-second:$secondary-color;
$count-color-third: #e4ca00;

$logo-yellow: #fde897;
$logo-orange: #f5a04b;



// MEASURING

$gap : 15px;

$font-size: 16px;
$line-height: 1.15;



// BOOTSTRAP OVERWRITE

$screen-xs: 560px;