
// COLORS

$heading-color:#454545;


$primary-color:#d88e1c;
$secondary-color: #c88152;

$light-grey: #d3d3d3;


$count-color-first: $primary-color;
$count-color-second: #f3ba00;
$count-color-third: #e4ca00;




// MEASURING

$gap : 15px;

$font-size: 16px;
$line-height: 1.15;



// BOOTSTRAP OVERWRITE

$screen-xs: 560px;